import("methods")
import("RSQLite")

importFrom("DBI", dbDriver)


importFrom("protViz", aa2mass)
importFrom("protViz", findNN)
importFrom("protViz", findNN_)
importFrom("protViz", fragmentIon)

importFrom("seqinr", read.fasta)

export("read.bibliospec")
export("summary.psmSet_bibliospec")
export("plot.psmSet_bibliospec")
export("plot.psm_bibliospec")


export("annotate.protein_id")
export("genSwathIonLib")

exportClasses("specL", "specLSet")

exportMethods("show", "summary", "plot", 
    "write.spectronaut", "generate.consensus",
    "ionlibrary", "rt.input", "rt.normalized", 
    "merge.specLSet")
